@import "tailwindcss";
@import "@nuxt/ui";


@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

:root {
  --app-accent-50: #fdf2f4;
  --app-accent-100: #fce7eb;
  --app-accent-200: #f9d0d9;
  --app-accent-300: #f4a9b9;
  --app-accent-400: #ed7694;
  --app-accent-500: #d02752;
  --app-accent-600: #bf2249;
  --app-accent-700: #a11d3f;
  --app-accent-800: #871b3a;
  --app-accent-900: #741b36;
  --app-accent-950: #410a1a;
}

@theme inline {
  --color-accent-50: var(--app-accent-50);
  --color-accent-100: var(--app-accent-100);
  --color-accent-200: var(--app-accent-200);
  --color-accent-300: var(--app-accent-300);
  --color-accent-400: var(--app-accent-400);
  --color-accent-500: var(--app-accent-500);
  --color-accent-600: var(--app-accent-600);
  --color-accent-700: var(--app-accent-700);
  --color-accent-800: var(--app-accent-800);
  --color-accent-900: var(--app-accent-900);
  --color-accent-950: var(--app-accent-950);
}

@theme {
  --color-surface-50: #f3f5f6;
  --color-surface-100: #e7eaed;
  --color-surface-200: #cfd4dd;
  --color-surface-300: #abb7c9;
  --color-surface-400: #7c92b5;
  --color-surface-500: #506f9f;
  --color-surface-600: #385584;
  --color-surface-700: #273f67;
  --color-surface-800: #1a2d4c;
  --color-surface-900: #111f35;
  --color-surface-950: #0a121f;

  --color-primary: oklch(56.262% 0.20195 13.152);
}

html {
  font-size: var(--font-size-base, 15px);
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: white;
  color: var(--color-surface-900);
}

.dark body {
  background-color: var(--color-surface-900);
  color: white;
}

* {
  user-select: none;
}


.dark {
  --color-gray-900: var(--color-surface-800);
  --color-gray-800: var(--color-surface-700);
  --color-gray-700: var(--color-surface-600);
  --color-gray-600: var(--color-surface-500);
}
