# Ignore everything
**

# Allow root cargo files
!Cargo.toml
!Cargo.lock

# Allow the two crates
!kernel/**
!server/**

# But ignore their build artifacts
kernel/target
server/target
kernel/migration/target
server/migration/target
**/target
kernel/node_modules
kernel/dist

# Optional common ignores
**/*.db
.env
.git
.github
.idea